<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stone.black"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme_Light"
        android:largeHeap="true"
        android:name="com.stone.support.utils.GlobalContext" >
        <activity
            android:name="com.stone.ui.login.AccountActivity"
            android:label="@string/app_name"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.stone.ui.login.OAuthActivity"></activity>
        
         <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c92ba87cacf1f1e4ccc89293619505f77dca6e53" />
         
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
